.App {
  text-align: center;
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.washing-machine {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid grey;
  position: relative;
  background-color: greenyellow;

}

.inner-machine {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: grey;
  margin: 10px auto;
}

.washing {
  animation: rotate 2s linear infinite;
  background-color: blue;

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Dark mode toggle button */
.toggle-dark-mode {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 18px;
}

.list-group-item {
  background-color: inherit;
  color: inherit;
}
